Repository Into-The-Grey/Auton-OSINT, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, dependencies, ci, python

.github/labeler.yml:

# Auto-label pull requests by file path
docs:
  - "*.md"
  - "docs/**"

dependencies:
  - "requirements.txt"

ci:
  - ".github/workflows/**"

python:
  - "**.py"

Update CI pipeline configuration: revert Python version to 3.10 and 3.11, upgrade action versions, and improve failure message formatting
  .github/workflows/ci.yml
Labels: ci

Refactor CI pipeline: remove comment on Python version matrix and add file listing step in test run
  .github/workflows/ci.yml
Labels: ci

Enhance CI pipeline: add step to fetch latest Maigret commit hash and update caching strategy; update .gitignore to exclude Maigret tools; add Maigret as a dependency in requirements.txt
  .github/workflows/ci.yml
  .gitignore
  requirements.txt
Labels: dependencies, ci

Remove local path reference for maigret in requirements.txt
  requirements.txt
Labels: dependencies

chore(ci): restrict CI to Python 3.12 to support IPython 9.1.0
  .github/workflows/ci.yml
Labels: ci

test: add placeholder test to satisfy CI
  tests/test_placeholder.py
Labels: none

chore: remove redundant comment in markdown-lint workflow
  .github/workflows/markdown-lint.yml
Labels: ci

chore: add permissions section to workflow files for labeler, markdown-lint, and project-tracking
  .github/workflows/labeler.yml
  .github/workflows/markdown-lint.yml
  .github/workflows/project-tracking.yml
Labels: ci

chore: pin create-issue-action to specific commit and update markdownlint action to exact SHA
  .github/workflows/ci.yml
  .github/workflows/markdown-lint.yml
Labels: ci

chore: pin create-issue-action and markdownlint-cli2-action to specific commits
  .github/workflows/ci.yml
  .github/workflows/markdown-lint.yml
Labels: ci

docs: update demo preview section with a note about upcoming video
  README.md
Labels: docs

chore: update issue templates and add support documentation
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/documentation_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/module_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/ISSUE_TEMPLATE/security_concern.md
  .github/ISSUE_TEMPLATE/workflow_improvement.md
  .github/PULL_REQUEST_TEMPLATE.md
  .markdownlint.yaml
  CODE_OF_CONDUCT.md
  README.md
  SUPPORT.md
Labels: docs

fix: update Markdown Lint badge to point to the master branch
  README.md
Labels: docs
