Repository Into-The-Grey/Auton-OSINT, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, ci-cd, osint-modules, core-engine, python, testing

fix: add quotes around color values in labels configuration
  .github/labels.yml
Labels: none

feat: add Phase 1, 2, and 3 documentation for Auton-OSINT project setup and core module development
  docs/Phases/Phase_1.md
  docs/Phases/Phase_2.md
  docs/Phases/Phase_3.md
Labels: documentation

fix: update release-drafter action to a specific commit version
  .github/workflows/release-drafter.yml
Labels: ci-cd

fix: update label-sync action to a specific commit version
  .github/workflows/label-sync.yml
Labels: ci-cd

feat: enhance correlation engine with state management and checkpointing
  scripts/correlation_engine.py
  scripts/input_parser.py
  scripts/visualization.py
Labels: python

feat: add graph output option to main parser for correlation graphs
  scripts/input_parser.py
Labels: python

fix: update degree calculation for nodes in visualization
  scripts/visualization.py
Labels: python

feat: add pull request template and update release drafter config path
  .github/ISSUE_TEMPLATE/PULL_REQUEST_TEMPLATE.md
  .github/workflows/release-drafter.yml
Labels: documentation, ci-cd

fix: remove unnecessary config-name from release drafter step
  .github/workflows/release-drafter.yml
Labels: ci-cd

feat: update release drafter template to include 'What's Changed' section
  .github/release-drafter.yml
Labels: none

feat: add Phase 4 documentation for additional module development and integration
  docs/Phases/Phase_4.md
Labels: documentation

feat: integrate dark web search functionality with DarkSearch and TorBot
  config/modules_config/darkweb_config.yaml
  modules/darkweb_integration.py
  scripts/correlation_engine.py
  tests/test_darkweb_integration.py
Labels: osint-modules, python, testing

feat: add initial module file for Auton-OSINT
  modules/__init__.py
Labels: osint-modules, python

feat: add dark web integration module with search and crawl functionalities
  modules/darkweb/__init__.py
  modules/darkweb/darkweb_integration.py
  tests/test_darkweb_integration.py
Labels: osint-modules, python, testing

Create __init__.py
  modules/__init__.py
Labels: osint-modules, python

Update ci.yml
  .github/workflows/ci.yml
Labels: ci-cd

Update darkweb_integration.py
  modules/darkweb/darkweb_integration.py
Labels: osint-modules, python

feat: add project_tree.md to .gitignore for exclusion from version control
  .gitignore
Labels: none

.github/labeler.yml:

# ðŸ”– Auto-label pull requests based on file path patterns

documentation:
  - "*.md"
  - "docs/**"
  - ".github/ISSUE_TEMPLATE/**"
  - ".github/*.md"

dependencies:
  - "requirements.txt"
  - "pyproject.toml"

ci-cd:
  - ".github/workflows/**"
  - ".github/labeler.yml"

osint-modules:
  - "modules/**"
  - "config/modules_config/**"

core-engine:
  - "main.py"
  - "input_parser.py"
  - "correlation_engine.py"
  - "visualization.py"

python:
  - "**/*.py"

testing:
  - "tests/**"
